* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.parenr {
  background: #ccc;
  width: 200px;
  height: 200px;
}
.parenr div {
  color: red;
  font-size: 30px;
  font-weight: bold;
}
.parenr2 div {
  color: yellow;
  font-weight: bold;
}
